@import "styles/variables.scss";

#catch-phrase {
  font-family: $logo-font;
}
#homepage-button {
  &:hover {
    transform: scale(1.05) perspective(1px);
  }
}
#button-text {
  font-family: $logo-font;
}
