@import "styles/variables.scss";

#catch-phrase {
  font-family: $logo-font;
}
#hungry-button {
  box-shadow: -10px -10px 15px white,
  10px 10px 15px rgba(0, 0, 0, 0.1);
  transition: .13s ease-in-out;

  #button-text {
    font-family: $logo-font;
  }

  &:hover {
    box-shadow: none;
    transform:translate3d(0px, 4px, 0px);
  }
}
